body{ background-color: lightslategray;}
h1{color: black;}
body{border-style: groove;border-width: thick;border-width: 1000%;}
body{background-image: url("dd.jpg.jfif" );background-repeat: no-repeat;background-position: top; background-image: 100px;} 
h5{-moz-text-align-last: justify;}